.headerStudent{
  text-align: center;
  font-family: 'Nova Square', sans-serif !important;
  font-size: 36px;
}

.carousel-card {
  margin-top: 20px !important;
}

#points-table {
  margin-top: 60px;
  margin-bottom: 40px;
}

#submissions-table {
  margin-bottom: 40px;
}

#rewards-table {
  margin-bottom: 0px;
}
