
.email {
  margin-top: 200px;
}

.password {
  margin-top: 20px;
}

.signup {
  margin-top: 8%;
  text-align: center;
}

.login {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  padding-top: 8%;
}

.alert-message-confirm {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
}

#admin-login-button {
  margin-top: 20px;
}

#need-account {
  margin-top: 15px;
}
